header {
    padding-top: 1rem;

    text-align: center;

    a {
        color: black;

        font-size: 1.5rem;
        text-decoration: none;

        img {
            vertical-align: middle;
        }
    }
}
body {
    .title {
        font-size: 2rem;
        text-align: center;
    }

    .images {
        max-width: 1100px;

        padding: 0 1rem 1rem 1rem;
        margin: auto;

        column-width: 300px;
        column-gap: 1rem;

        div {
            box-sizing: border-box;
            width: 100%;

            padding: 1rem;
            margin-bottom: 1rem;
            
            border: 2px solid hsl(0 0% 20%);
            border-radius: 2rem;

            break-inside: avoid;

            img {
                display: block;
    
                width: 100%;
                height: auto;
    
                border-radius: 1rem;
            }

            p {
                margin: 1rem 0 0 0; 

                font-family: sahel-fd;
                font-size: 2rem;

                .price {
                    padding: 0 1rem;

                    color: hsl(150 100% 5%);
                    background-color: hsl(150 100% 80%);

                    border-radius: 1rem;
                }
            }
        }
    }

    .buttons {
        margin-bottom: 4rem;
    }
}