body > main {
    overflow-x: hidden;
}

body>main>.hero {
    --background-color: hsl(150 80% 80%);
    --round-edge-height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 3rem;
    padding-inline: 2rem;
    margin-bottom: var(--round-edge-height);

    position: relative;

    background-color: var(--background-color);

    text-align: center;
}

body>main>.hero>* {
    margin: 0;
}

body>main>.hero>h1.title {
    color: hsl(150 100% 5%);

    font-size: 3rem;
    line-height: 1.25em;
}

body>main>.hero>p.description {
    margin-block: 1.5rem 2rem;

    color: hsl(150 100% 10%);

    font-size: 1.5rem;
    line-height: 1em;
}

body>main>.hero>div.images {
    width: 600px;

    column-width: 175px;
    column-gap: 1rem;
}

body>main>.hero>div.images>img {
    box-sizing: border-box;
    display: flex;

    width: 100%;

    margin-bottom: 1rem;

    border: 2px solid hsl(150 100% 10%);
    border-radius: 1rem;
}

body>main>.hero>.buttons {
    margin-top: 2.5rem;
}

body>main>.hero::after {
    content: "";

    width: 100%;
    height: calc(2 * var(--round-edge-height));

    position: absolute;
    bottom: calc(-1 * var(--round-edge-height));

    background-color: var(--background-color);

    border-radius: 0 0 50% 50%;

    z-index: -1;
}

body>main>.statics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;

    padding: 3rem 1rem;
}

body>main>.statics>div {
    text-align: center;
}

body>main>.statics>div>* {
    margin: 0;
    line-height: 1em;
}

body>main>.statics>div>p {
    font-size: 1.5rem;
}

body>main>.statics>div>.number {
    margin: .5rem 0;

    position: relative;
    top: 0.125em;

    color: hsl(150 100% 15%);

    font-family: sahel-fd;
    font-weight: 900;
    font-size: 6rem;
}

body>main>.mirrors {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body>main>.mirrors>h2 {
    font-size: 3rem;
    margin: 0;
}

body>main>.mirrors>.container {
    max-width: 800px;

    column-count: 2;
    column-gap: 1rem;

    margin: 1rem;
}

body>main>.mirrors>.container>div {
    flex-grow: 1;

    width: 100%;

    margin-bottom: 1rem;

    break-inside: avoid;
}

body>main>.mirrors>.container>div>h3 {
    margin-top: 0;

    font-size: 1.5rem;
    font-weight: 500;
}

body>main>.mirrors>.container>div>img {
    width: 100%;

    border-radius: 1rem;
}

body>main>.mirrors>.buttons {
    margin-bottom: 2rem;
}


@media screen and (width < 700px) {
    body>main>.mirrors>.container {
        column-count: 1;
    }
}